.env
.env.*
!.env.example

/vendor/
/node_modules/

.DS_Store
Thumbs.db

/.idea/
/.vscode/
/*.code-workspace

/public/uploads/
/storage/
/tmp/
/logs/

*.log
*.sql.gz
*.zip

coverage/
.phpunit.result.cache

/.php-cs-fixer.cache